*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.signup {
  background-color: #f4353522;
  max-width: 30rem;
  margin: 2rem auto;
  padding: 2rem;
}

h1 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 2rem;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input {
  padding: 0.5rem;
  border: 1px solid gray;
  font-size: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  padding: 0.5rem;
  background-color: rgb(52, 52, 52);
  border: none;
  font-size: 1.2rem;
  color: #fff;
}

button:hover {
  background-color: tomato;
}

.error-message {
  color: red;
  font-size: 0.9rem;
}
